@using App.Services
@model App.DTOs.Manager.RolePermission
<br />

<div class="container">

    <div class="col-md-6">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-route="PostRolePermissions">

            <input asp-for="RoleId" type="hidden" value="@Model.Role.Id" />

            <ul class="list-group">
                
                @foreach (var action in Model.Actions)
                {
                    var displayName = string.IsNullOrEmpty(action.ActionDisplayName) ? $"{action.ControllerName}:{action.ActionName}" : action.ActionDisplayName;

                    var isChecked = Model.Role.Claims.Any(x => x.ClaimType == ConstantPolicies.DynamicPermission && x.ClaimValue == action.Key);

                    <li class="list-group-item">
                        <input name="Keys" value="@action.Key" @(isChecked ? "checked") />
                        @displayName
                    </li>
                }

            </ul>
           

            <hr />

            <button type="submit" class="btn btn-success">Update</button>

        </form>

    </div>
</div>

@section Scripts
{

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}


