@model App.DTOs.Manager.User.AddUserRole

<br />

<div class="container">

    <div class="col-md-6">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-route="PostAddUserRole">
            
            <input asp-for="UserName" type="hidden"/>
            <div class="form-group">
                <select asp-for="SelectedRole" asp-items="Model.Roles" class="form-control">
                </select>
            </div>

            <span asp-validation-for="SelectedRole" class="text-danger"></span>

            <br />

            <button type="submit" class="btn btn-success">Add Role</button>

        </form>

    </div>
</div>

@section Scripts
    {

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}


