@model App.DTOs.Manager.User.EditUser

<br />

<div class="container">

    <div class="col-md-6">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-route="PostEditUser">

            <input asp-for="UserName" type="hidden" />

            <div class="form-group">
                <input asp-for="FirstName" placeholder="FirstName" class="form-control" />
            </div>

            <span asp-validation-for="FirstName" class="text-danger"></span>


            <div class="form-group">
                <input asp-for="LastName" placeholder="LastName" class="form-control" />
            </div>

            <span asp-validation-for="LastName" class="text-danger"></span>


            <div class="form-group">
                <input asp-for="Age" placeholder="LastName" class="form-control" />
            </div>

            <span asp-validation-for="Age" class="text-danger"></span>

            <hr />

            <button type="submit" class="btn btn-success">Edit</button>

        </form>

    </div>
</div>

@section Scripts
    {

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}


