@model string
<br/>

<div class="container">
    <div class="col-md-6">
        
        <div class="alert alert-info">
            
            The Confirm Email has sent to @Model email address.

        </div>

    </div>    

</div>