
@{
    ViewData["Title"] = "LockOut";
}

<div class="container">
    
    <div class="col-md-6">
        
        <div class="alert alert-danger">
            کاربر عزیز حساب کاربری شما مسدود شده است.
        </div>

    </div>

</div>
