@model App.DTOs.Account.ResetPassword

<br />

<div class="container">

    <div class="col-md-6">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-route="PostRestPassword">
            
            <input asp-for="Code" type="hidden"/>
            <input asp-for="Key" type="hidden"/>

            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Password" />
            </div>

            <span asp-validation-for="Password" class="text-danger"></span>
            
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
            </div>

            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            <br />

            <button type="submit" class="btn btn-success">Reset Password</button>

        </form>

    </div>
</div>

@section Scripts
    {

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}

