@model App.DTOs.Account.VerifyCode

<br />

<div class="container">

    <div class="col-md-6">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-route="PostVerifyCode" asp-route-returnTo="@Model.ReturnTo">

            <input asp-for="RememberMe" type="hidden" />
            <input asp-for="Provider" type="hidden" />

            <div class="form-group">
              <input asp-for="Code" class="form-control"/>
            </div>

            <span asp-validation-for="Code" class="text-danger"></span>

            <br/>

            <input asp-for="BrowserRemember" class="form-control"/>
            <label asp-for="BrowserRemember"></label>

            <hr />

            <button type="submit" class="btn btn-success">Verify Code</button>

        </form>

    </div>
</div>

@section Scripts
    {

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}


